mat-icon {
    cursor: pointer;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.movie-img {
    width: 100%;
}

@media (max-width: 750px) {
    .movie-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .movie-container {
        grid-template-columns: 1fr;
    }
}
