<div [ngClass]="'main-profile'">
    <h1 [ngClass]="'title'">Profile: {{user.Username}}</h1>
    <div [ngClass]="'movie-container'">
        <div *ngFor="let movie of user.myMovies;">
            <mat-card *ngIf="movie.Favorite == true" style="flex: 1 1 auto;">
                <mat-card-header>
                    <mat-card-title>{{movie.Movie.Title}}</mat-card-title>
                </mat-card-header>
                <img src="{{apiUrl}}{{movie.Movie.ImagePath}}" alt={{movie.Movie.Title}} height="400px" />
                <mat-card-actions>
                    <mat-icon *ngIf="sameUser" (click)="changeFav(movie.Movie.Title, false)">favorite</mat-icon>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div [ngClass]="'buttons-profile'">
        <button *ngIf="sameUser" mat-raised-button (click)="openEditDialog()" color="primary" style="width:150px;">
            Edit Profile
        </button>
        <button *ngIf="sameUser" mat-raised-button (click)="openDeleteDialog()" color="warn" style="width:150px;">
            Delete account
        </button>
        <button *ngIf="testUser" mat-raised-button color="primary" style="width:150px;">
            <del>Edit Profile</del>
        </button>
        <button *ngIf="testUser" mat-raised-button color="warn" style="width:150px;">
            <del>Delete account</del>
        </button>
    </div>
</div>